# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build outputs
android/app/build/
ios/build/
ios/Pods/

# IDEs and editors
.vscode/
.idea/

# Metro bundler cache
.expo/
.expo-shared/
.expo/web-build/
.expo/ios/
.expo/android/
.expo/packager-info.json
.expo/settings.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Misc
.env
